:root {
  --primary-color: rgb(119, 119, 176);
  --secondary-color: red;
}

audio {
  display: block;
  margin-bottom: 20px;
}

button {
  font-size: 1.3rem;
  border-radius: 12px;
  padding: 8px;
  cursor: pointer;
  background-color: var(--primary-color);
}

button:hover {
  scale: 0.9;
}

video {
  width: 500px;
  height: 300px;
}
