body {
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: center;
  background-color: rgb(15, 2, 35);
}

h1 {
  font-size: 2rem;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  padding: 15px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Archivo";
  padding: 10px;
}

p {
  width: 400px;
  border: 1px solid rgba(230, 12, 12, 0.698);
  background-color: rgb(40, 7, 62);
  min-height: 150px;
  padding: 1rem;
  margin: 15px auto;
  font-family: "Archivo";
  font-weight: 300;
  line-height: 25px;
}

.firstline {
  display: flex;
  justify-content: space-around;
}

img {
  padding: 1rem;
  max-width: 100%;
  height: auto;
}
